<!doctype html>
<html>

<head>
  <title>SwingGo - Create an Account</title>
  {{> meta}}
  {{> styles}}
  <link rel="stylesheet" href="css/createaccstyles.css">
</head>

<body>
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content" id="createacctitle">
        <h1>Create an Account</h1>
      </div>

      <div class="modal-content">
        <form class="col-12" role="form" method="get" action="/edit">
          <div class="form-group" id="uname">
            <input type="text" class="form-control" placeholder="Enter your Name" name="name">
          </div>          
          <div class="form-group" id="email">
            <input type="email" class="form-control" placeholder="Enter your Email" name="email">
          </div>
          <div class="form-group" id="pw">
            <input type="password" class="form-control" placeholder="Enter a Password" name="password">
          </div>
          <div class="form-group" id="dh">
            Dominant Hand<input type="text" class="form-control" placeholder="Left or Right" name="dominanthand">
          </div>

          <!-- TODO: Dominant Hand button to toggle between right or left --> 
          <input type="submit" class="btn" value="Submit"></input>
        </form>
      </div> 

    </div>
  </div>
</body>
</html>
