<!doctype html>
<html>

<head>
  <title>SwingGo - FAQ</title>
  {{> meta}}
  {{> styles}}
  <link rel="stylesheet" href="css/helpstyles.css">
</head>

<body>
  <div class="screen_container">
    <div class="top_container"> 
      <a class="thumbnailtop" href="home">
        <img id="backarrow" src="images/backarrow.png">
      </a>
      <header class="title">FAQ</header>
      <div class="invisible_spacer">
        <h1>.</h1>
      </div>
    </div>
    <div class="content_container">  
      <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
          <div class="modal-content">
            <h4>Q: What does “Handicap” mean?</h4>
            <h6>A: A golf handicap is a numerical measure of a golfer's potential ability over an entire round of golf. The lower the number, the better the golfer is. </h6>
          </div>
          <div class="modal-content">
            <h4>Q: How does SwingGo work?</h4>
            <h6>A: SwingGo provides immediate and data driven vocal feedback by tracking and calculating the data points of your swing. </h6>
          </div>
          <div class="modal-content">
            <h4>Q: Is there an option to refer to the feedback from previous entries?</h4>
            <h6>A: SwingGo currently only supports the Voice Feedback feature but in the future we will look into storing and transcribing the feedback.</h6>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
