<!doctype html>
<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Styling -->  
  <link rel="stylesheet" href="css/helpstyles.css">
</head>

<body>
  <div class="screen_container">
    <div class="top_container"> 
      <a class="thumbnailtop" href="home">
        <img id="backarrow" src="images/backarrow.png">
      </a>
      <header class="title">FAQ</header>
      <div class="invisible_spacer">
        <h1>.</h1>
      </div>
    </div>
    <div class="content_container">  
      <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
          <div class="modal-content">
            <h4>Q: What does “Handicap” mean?</h4>
            <h6>A: A golf handicap is a numerical measure of a golfer's potential ability over an entire round of golf. The lower the number, the better the golfer is. </h6>
          </div>
          <div class="modal-content">
            <h4>Q: How does SwingGo work?</h4>
            <h6>A: SwingGo provides immediate and data driven vocal feedback by tracking and calculating the data points of your swing. </h6>
          </div>
          <div class="modal-content">
            <h4>Q: Is there an option to refer to the feedback from previous entries?</h4>
            <h6>A: SwingGo currently only supports the Voice Feedback feature but in the future we will look into storing and transcribing the feedback.</h6>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
