<!doctype html>

<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">  
  <link rel="stylesheet" href="css/profilestyles.css">
</head>

<body>
  <div class="screen_container">
    <!-- Profile Button and Logo ------------------->
    <!-- Include a first-time user message overlay-->
    <div class="top_container"> 
      <a class="thumbnailtop" href="home">
        <img id="backarrow" src="images/backarrow.png">
      </a>
      <header class="title">Help/FAQ</header>
      <div class="invisible_spacer">
        <h1>.</h1>
      </div>
    </div>

    <div class="content_container">  

    </div>
  </div>
</body>
</html>
