<!doctype html>

<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery.js"></script>
      <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.3"></script>
    <!-- Load Posenet -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@0.2.3"></script>
    <!-- Load jerryrigging -->
    <script src="js/camera/camera.js"></script>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">  
  <link rel="stylesheet" href="css/homestyles.css">
</head>

<body onload='startVideo();'>
  <div class="screen_container">
    <!-- Profile Button; Logo; Help ------------------->
    <!-- Include a first-time user message overlay-->
    <div class="top_container"> 
      <a class="profileBtn" href="profile">
        <img id="profileicon" src="images/profileIcon.png">
      </a>
      <header class="title">SwingGo</header>
      <a class="helpBtn" href="help">
        <img id="profileicon" src="images/helpIcon.png">
      </a>
    </div>

    <!-- Camera Component -------------------------->
    <!-- Include a first-time user message overlay-->
    <div class="content_container">
      <video id="camera" autoplay></video>
      <canvas id="canvas"></canvas>
    </div>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyB7O_dNhrBSXeEQdEkzFtlB9VA_j0VezRM",
      authDomain: "swinggo-webapp.firebaseapp.com",
      databaseURL: "https://swinggo-webapp.firebaseio.com",
      projectId: "swinggo-webapp",
      storageBucket: "swinggo-webapp.appspot.com",
      messagingSenderId: "126480075850"
    };
    firebase.initializeApp(config);
  </script>
</body>
</html>
