<!doctype html>
<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  {{> meta}}
  {{> features}}
  {{> styles}}
  <link rel="stylesheet" href="css/homestyles.css">
  <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
</head>

<body onload='startVideo();'>
  <div class="screen_container">
    <!-- Profile Button; Logo; Help ------------------->
    <div class="top_container">
      <a class="profileBtn" href="profile">
        <img id="profileicon" src="images/profileIcon.png">
      </a>
      <header class="title">
        <img id="logo" src="/images/logo.png"/>
      </header>
      <a class="helpBtn" href="help">
        <img id="profileicon" src="images/helpIcon.png">
      </a>
    </div>

    <!-- Camera Component -------------------------->
    <!-- Include a first-time user message overlay-->
    <div class="content_container">
      <video id="camera" autoplay></video>
      <canvas id="canvas"></canvas>
    </div>
  </div>
</body>
</html>
