<!doctype html>

<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">  
  <link rel="stylesheet" href="css/updatedprofilestyles.css">
  <!-- Font type -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fanwood+Text" />
  {{> facebook}}
  <script src="/js/facebook.js"></script>
</head>

<body>
  <div class="screen_container">
    <!-- Camera Component -------------------------->
    <!-- Include a first-time user message overlay-->
    <div class="content_container">
      <div class="welcome">
        <text>Profile has been Updated</text>
        <div class="user">
          <form class="btn" method="get" action="profile">
            <button type="submit">Continue</button> 
          </form> 
        </div>        
      </div>
      <div class="info">
      </div>
    </div>

    
  </div>
</body>
</html>
