<!doctype html>
<html>

<head>
  <title>SwingGo - Updated Profile</title>
  {{> meta}}
  {{> styles}} 
  {{> facebook}}
  <link rel="stylesheet" href="css/updatedprofilestyles.css">  
</head>

<body>
  <div class="screen_container">
    <!-- Camera Component -------------------------->
    <!-- Include a first-time user message overlay-->
    <div class="content_container">
      <div class="welcome">
        <text>Profile has been Updated</text>
        <div class="user">
          <form class="btn" method="get" action="profileAlt">
            <button type="submit">Continue</button> 
          </form> 
        </div>
      </div> <!-- end of welcome -->
    </div> <!-- end of content_container -->
  </div>
</body>
</html>
