<!doctype html>
<html>

<head>
  <title>SwingGo - Welcome</title>
  {{> meta}}
  {{> styles}}
  <link rel="stylesheet" href="css/welcomestyles.css">
  <!-- Responsive Voice API -->
  <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
</head>

<body>
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content" id="appuse">
        <text id="welcometext">Welcome {{name}}!</text>
      </div>
      <div class="modal-content" id="ella">
        I'm Coach Ella. I'll be your Virtual Coach.
        I have years of golf experience, but none with you.
        Let's do a few golf sessions, so I can understand you a bit more.
        <script type="text/javascript">
          responsiveVoice.speak("Welcome {{name}}. I'm Coach Ella. Let's do a few golf sessions, so I can understand you a bit more.");
        </script>  
      </div>
      <form class="btn" method="get" action="home">
        <button type="submit">Continue</button> 
      </form>     
    </div>
  </div>
