/*************************************/
/* Flexbox wrapper for entire screen */
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Flexbox sub-wrapper for entire top portion of screen */
.top_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  background-color: #7F7171;
  padding: 30px;
}

/* Flexbox sub-wrapper for entire bottom portion of screen */
.content_container{
  display: flex;
  justify-content: center;
  height: 90vh;

}

#canvas{
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

#camera{
  display:none; /*remove secondary camera*/
}

/* Flexbox sub-wrapper for header(top portion) of screen */
.profileBtn{
  height: 40px;
  width: 40px;
  margin: -20px;
  border: none;
  background-color: #7F7171;
  align-self: center;
}

.helpBtn{
  height: 40px;
  width: 40px;
  margin: -20px;
  border: none;
  background-color: #7F7171;
  align-self: center;
}

#profileicon{
  max-width: 100%;
  max-height: 100%;
}

.title{
  font-weight: bolder;
  color: white;
  align-self: center;
  font-size:2em;
}