body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/*************************************/
/* Flexbox wrapper for entire screen */
.screen_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Flexbox sub-wrapper for entire top portion of screen */
.top_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  background-color: #90A686;
  padding: 30px;
}

/* Flexbox sub-wrapper for entire bottom portion of screen */
.content_container{
  display: flex;
  justify-content: center;
  height: 90vh;
  position: relative;
}

#canvas{
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  z-index: 1;

  /* Reverse orientation of camera */
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#camera{
  display:none; /*remove secondary camera*/
}

/* Flexbox sub-wrapper for header(top portion) of screen */
.profileBtn{
  height: 40px;
  width: 40px;
  margin: -20px;
  border: none;
  align-self: center;
}

.helpBtn{
  height: 40px;
  width: 40px;
  margin: -20px;
  border: none;
  align-self: center;
}

#profileicon{
  max-width: 100%;
  max-height: 100%;
}

.title{
  font-weight: bolder;
  color: white;
  align-self: center;
  font-size:2em;
}

#start{
  height: 70px;
  width: 70px;
  background-color: white;
  position: absolute;
  top:82%;
  z-index:2;
  border-width: 10px;
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
}

#help{
  position: absolute;
  top: 94%;
  color: white;
  z-index:2;
  background-color: gray;
  opacity: 0.7;
}