body{
  font-family: 'Roboto', sans-serif;
  background-color: #DDD9C5;
  background-size: cover;
  color: white;
  font-weight: 300;
}

.modal-content {
  margin-top: 45%;
  opacity: .95;
  padding: 5%; 
  background-color: #90A686;
}

.btn{
  margin-top: 5%;
  width:40%;
  background-color: #90A686;
  font-size: 1.2em;
}

button{
  color: white;
}

.btn:hover, .btn:focus{
  background-color: #687861;
}

a{
  color: #4F5B6B;
  text-decoration: none;
}

#welcometext{
  font-size: 2.0em;
}

#ella{
  margin-top: 20%;
}